# Data Source
All **replication** data will be taken from Kenneth French's Data library.

## Fama/French 3 Factors (Monthly) CSV
We are using the historical archive 2022 (year is arbitrary) version of the data, since the methodology changed in Jan 2025.

## 25 Portfolios Formed on Size and Book-to-Market (5 x 5) CSV

In [65]:
import pandas as pd
import numpy as np
from unicodedata import numeric

from utils.ff_functions import ff_monthly_loader

# Cleaning

In [66]:
PATH = '../data/raw'

# 3 factors CSV
fact = pd.read_csv(f'{PATH}/F-F_Research_Data_Factors.csv',
                   skiprows=3)
# Portfolios CSV
port = ff_monthly_loader(f'{PATH}/25_Portfolios_5x5.csv', skiprows=15)
fact = ff_monthly_loader(f'{PATH}/F-F_research_Data_Factors.csv', skiprows=3)

# Robustness checks
print(fact.head(), '\n')
print(fact.isna().sum())

# Robustness checks
print(fact.head(), '\n')
print(fact.isna().sum())

              Mkt-RF       SMB       HML        RF
Date
1926-07-01      2.96     -2.56     -2.43      0.22
1926-08-01      2.64     -1.17      3.82      0.25
1926-09-01      0.36     -1.40      0.13      0.23
1926-10-01     -3.24     -0.09      0.70      0.32
1926-11-01      2.53     -0.10     -0.51      0.31

Mkt-RF    0
SMB       0
HML       0
RF        0
dtype: int64
              Mkt-RF       SMB       HML        RF
Date
1926-07-01      2.96     -2.56     -2.43      0.22
1926-08-01      2.64     -1.17      3.82      0.25
1926-09-01      0.36     -1.40      0.13      0.23
1926-10-01     -3.24     -0.09      0.70      0.32
1926-11-01      2.53     -0.10     -0.51      0.31

Mkt-RF    0
SMB       0
HML       0
RF        0
dtype: int64

In [67]:
port

,SMALL LoBM,ME1 BM2,ME1 BM3,ME1 BM4,SMALL HiBM,ME2 BM1,ME2 BM2,ME2 BM3,ME2 BM4,ME2 BM5,...,ME4 BM1,ME4 BM2,ME4 BM3,ME4 BM4,ME4 BM5,BIG LoBM,ME5 BM2,ME5 BM3,ME5 BM4,BIG HiBM
Date,,,,,,,,,,,,,,,,,,,,,
1926-07-01,5.8276,-1.7006,0.5118,-2.1477,1.9583,1.2118,2.4107,0.6056,-2.6082,-0.4527,...,1.5376,1.5460,1.3389,0.2765,2.4678,3.3248,6.0909,2.0285,3.1263,0.5623
1926-08-01,-2.0206,-8.0282,1.3968,2.1483,8.5104,2.3620,-0.7525,3.8984,0.2299,6.2937,...,1.3858,3.8587,1.9738,2.1336,5.3422,1.0169,4.1975,1.9769,5.4924,7.7576
1926-09-01,-4.8291,-2.6806,-4.3417,-3.2683,0.8586,-2.6849,-0.5252,1.0789,-3.2877,-0.9419,...,1.6897,-0.5246,-1.7724,1.4806,0.8730,-1.2951,3.6610,0.1384,-0.7497,-2.4284
1926-10-01,-9.3633,-3.5519,-3.5024,3.4413,-2.5452,-2.8014,-4.4191,-5.0767,-8.0271,-1.3213,...,-3.9136,-2.6528,-2.1058,-3.2532,-5.3525,-2.7382,-3.0061,-2.2467,-4.6725,-5.8129
1926-11-01,5.5888,4.1877,2.4384,-4.4495,0.5110,3.1023,-1.7317,3.0425,4.9538,2.7292,...,3.4492,2.3823,3.7315,5.1102,1.8213,4.4331,2.5355,1.5280,3.6596,2.5636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-08-01,8.8770,8.9386,9.4083,9.1551,10.0193,9.2309,5.3913,8.5592,8.3905,10.7464,...,3.6528,1.6166,2.3492,5.8848,7.1342,1.1611,1.1935,3.0568,5.4262,9.0799
2025-09-01,5.0252,3.6843,6.2120,1.8185,1.7839,1.5671,2.5534,2.7634,-1.7018,-1.0551,...,-1.6173,1.9338,2.8504,-1.0616,-1.1749,5.5609,0.7986,2.7747,0.2281,9.7883
2025-10-01,1.6342,4.1585,3.5958,-0.6982,-0.6074,3.3873,5.5502,2.3757,-2.8945,-0.5803,...,1.5596,1.1414,0.7399,-1.9959,-3.8438,3.8071,1.3814,0.7712,-2.2130,5.6126
2025-11-01,-4.5541,6.5321,-0.4316,3.5830,3.6556,-1.3963,4.1876,3.0292,2.5370,3.4571,...,-1.8818,1.8503,4.8510,5.2554,4.5621,-1.0600,0.3464,2.2197,3.9767,2.6288
2025-12-01,0.1950,1.3761,-1.2803,1.7925,0.9995,2.7014,1.0327,-0.0089,2.1862,-1.0374,...,0.2522,-0.1126,1.8881,1.1483,3.8270,-0.6740,0.3613,2.8755,1.1900,4.2624

# Filtering Dates
In the paper they used the date range = [July 1963 - December 1991]

In [79]:
# Resetting index to filter
fact.reset_index(inplace=True)
port.reset_index(inplace=True)

# Filtering date to year range
fact = fact[fact['Date'].between('1963-07-01', '1991-12-31')]
port = port[port['Date'].between('1963-07-01', '1991-12-31')]

# Robustness check
assert len(fact) == len(port), 'Observation sizes do not match'
assert fact['Date'].equals(port['Date']), "Dates don't match"

fact = fact.set_index('Date').sort_index()
port = port.set_index('Date').sort_index()

# Data Exploration

In [91]:
print(fact.info())
print(port.info())

# Creating list from columns
fact_cols = fact.columns.to_list()
port_cols = port.columns.to_list()

# Applying numeric transformation
fact[fact_cols] = fact[fact_cols].apply(pd.to_numeric, errors='coerce')
port[port_cols] = port[port_cols].apply(pd.to_numeric, errors='coerce')

<class 'pandas.DataFrame'>
DatetimeIndex: 342 entries, 1963-07-01 to 1991-12-01
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  342 non-null    float64
 1   SMB     342 non-null    float64
 2   HML     342 non-null    float64
 3   RF      342 non-null    float64
dtypes: float64(4)
memory usage: 13.4 KB
None
<class 'pandas.DataFrame'>
DatetimeIndex: 342 entries, 1963-07-01 to 1991-12-01
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SMALL LoBM  342 non-null    str
 1   ME1 BM2     342 non-null    str
 2   ME1 BM3     342 non-null    str
 3   ME1 BM4     342 non-null    str
 4   SMALL HiBM  342 non-null    str
 5   ME2 BM1     342 non-null    str
 6   ME2 BM2     342 non-null    str
 7   ME2 BM3     342 non-null    str
 8   ME2 BM4     342 non-null    str
 9   ME2 BM5     342 non-null    str
 10  ME3 BM1     342 non-null    str
 11  ME3 BM2     342 non-null    str
 12  ME3 BM3     342 non-null    str
 13  ME3 BM4     342 non-null    str
 14  ME3 BM5     342 non-null    str
 15  ME4 BM1     342 non-null    str
 16  ME4 BM2     342 non-null    str
 17  ME4 BM3     342 non-null    str
 18  ME4 BM4     342 non-null    str
 19  ME4 BM5     342 non-null    str
 20  BIG LoBM    342 non-null    str
 21  ME5 BM2     342 non-null    str
 22  ME5 BM3     342 non-null    str
 23  ME5 BM4     342 non-null    str
 24  BIG HiBM    342 non-null    str
dtypes: str(25)
memory usage: 69.5 KB
None

In [92]:
fact.describe()

           Mkt-RF         SMB         HML          RF
count  342.000000  342.000000  342.000000  342.000000
mean     0.408538    0.265234    0.380819    0.552982
std      4.592990    2.876615    2.552106    0.218826
min    -23.240000   -9.860000   -9.870000    0.250000
25%     -2.185000   -1.302500   -1.105000    0.400000
50%      0.555000    0.130000    0.445000    0.510000
75%      3.535000    2.040000    1.690000    0.667500
max     16.100000   11.140000    8.630000    1.350000

In [93]:
port.describe()

,SMALL LoBM,ME1 BM2,ME1 BM3,ME1 BM4,SMALL HiBM,ME2 BM1,ME2 BM2,ME2 BM3,ME2 BM4,ME2 BM5,...,ME4 BM1,ME4 BM2,ME4 BM3,ME4 BM4,ME4 BM5,BIG LoBM,ME5 BM2,ME5 BM3,ME5 BM4,BIG HiBM
count,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,...,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000
mean,0.866010,1.218971,1.291350,1.420761,1.542843,0.946676,1.197346,1.394027,1.451832,1.535109,...,1.012612,0.918682,1.169203,1.345892,1.439576,0.922617,0.890408,0.908800,1.060339,1.081593
std,7.749803,6.779863,6.272839,5.912414,6.266145,7.272491,6.284909,5.723932,5.334407,6.015140,...,5.881375,5.401291,5.074356,4.915830,5.636360,4.894273,4.711281,4.374565,4.302269,4.779814
min,-34.165300,-30.677900,-28.593000,-28.358300,-28.484300,-32.484900,-31.941300,-28.660100,-24.661600,-29.254100,...,-25.547100,-28.685800,-24.024500,-18.499900,-23.468000,-21.651300,-22.449900,-22.028400,-15.446700,-18.701400
25%,-3.449450,-2.553900,-2.159625,-1.552625,-1.453300,-3.526050,-2.335675,-1.710825,-1.483550,-1.765050,...,-2.637550,-2.133400,-1.978525,-1.655525,-1.775150,-1.786050,-1.685675,-1.682925,-1.395350,-1.832850
50%,1.047550,1.176800,1.293900,1.425550,1.509300,1.071750,1.528050,1.552750,1.599300,1.686750,...,0.936850,1.060950,1.333650,1.497000,1.552650,0.989800,0.794550,0.996500,0.882300,1.052000
75%,5.431025,5.570000,5.077175,4.447575,4.803775,5.481350,5.089625,4.828525,4.843350,5.020800,...,4.843225,4.096025,4.420875,4.227225,4.995800,3.713625,3.798775,3.302600,3.533275,3.960300
max,25.198500,30.069000,28.281400,28.265600,33.203500,21.462600,26.620600,26.615300,27.180800,29.654200,...,21.209900,20.246000,23.887300,24.069700,27.854100,22.203100,16.491100,18.537400,19.866200,15.679700