A Five-Factor Asset Pricing Model
Eugene F. Fama & Kenneth R. French (2015)

In [2]:
import pandas as pd

In [4]:
PATH = '../data/processed'

# Loading processed df
ff5 = pd.read_parquet(f'{PATH}/ff5_factors_monthly.parquet')

In [5]:
ff5

          Date    Mkt-RF       SMB       HML       RMW       CMA        RF
0   1963-07-01     -0.39     -0.46     -0.82      0.72     -1.15      0.27
1   1963-08-01      5.07     -0.85      1.63      0.42     -0.33      0.25
2   1963-09-01     -1.57     -0.50      0.19     -0.80      0.27      0.27
3   1963-10-01      2.53     -1.30     -0.11      2.75     -2.24      0.29
4   1963-11-01     -0.85     -0.83      1.66     -0.34      2.22      0.27
..         ...       ...       ...       ...       ...       ...       ...
620 2015-03-01     -1.12      3.07     -0.72      0.16     -0.54      0.00
621 2015-04-01      0.59     -2.99      2.13      0.41     -0.49      0.00
622 2015-05-01      1.36      0.85     -1.90     -1.54     -0.68      0.00
623 2015-06-01     -1.53      2.88     -1.04      1.03     -1.51      0.00
624 2015-07-01      1.54     -4.48     -4.50      0.35     -2.62      0.00

[625 rows x 7 columns]